body {
  background-color: #282c34;
}

.login {
  width: 40%;
  height: 60vh;
  border-radius: 5px;
  background-color: #fff;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login h1 {
  font-size: 48px;
  color: #292D36;
  margin: 0;
}

.signInWith {
  width: 60%;
  height: 20%;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f5768;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.signOut {
  width: 15%;
  height: 8%;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f5768;
  color: white;
  font-size: 1.0rem;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 5vh 3vw;
  /* background-color: springgreen; */
}

main {
  padding: 3vh 5vw 0 5vw;
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* background-color: thistle; */
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: tomato; */
}

form button {
  width: 10%;
  border: none;
  border-radius: 20px;
  background-color: rgb(56, 56, 143);
}

input {
  width: 85%;
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 3%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}